
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400italic);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body {font-family: 'Rock Salt', cursive;}
body {font-size: 48px;}


header {
	background-color: #FFED74;
	font-family: Arial;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
	background-color:#FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 20%;

}
#right {
	background-color: #pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 65%;
}
section {
 	background-color: #FFE2B8;
 	border: 1px black solid;
 	padding: 20px;
 	font: tahoma;
 }

 .clearfix: after {
 	visibility: hidden;
 	display: blacok;font-size: 0;
 	content: "  ";
 	clear: both;
 	height: 0;

 }

 	article { 
 	 background-color: #E89C6C
 	 border: 1px black solid;
 	 padding: 20px;
 	}

 footer {
 	background-color: #FF957E;
 	border: 1px black solid;
 	padding: 20px;
 }

