body { background-color: black;}
body {font-family: "Tahoma", monospace}
body {font-size: 24px;}


body {
	color: #F6D8CE;}

	p {color: #0022FF;}
	p {font-family:"Century Gothic", monospace;}
	p {font-size: 56px;}

	p{font-size: 24px;}
	ul {
    text-align: center;
    list-style-type: none;
}

	p{font-color: #F8D4CB;}
